body {
    font-family: 'Open Sans', sans-serif;
    font-size: 26px;
    position: relative; /* for scrollspy */
    height: 100%;       /* for scrollspy*/
    user-select: none;
    -ms-user-select: none;
    -o-user-select:none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

img {
   user-drag: none;
    pointer-events: none; /* prevent dragging & "save image as" */
}